<mat-toolbar color="primary">
   <mat-toolbar-row>
     <button type="button" mat-button (click)="openMenu()">
       <mat-icon class="example-icon" matTooltip="Menu" >menu</mat-icon>
     </button>



     <span matTooltip="Home Page">UzNews</span>
     <span></span>

     &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
     <span *ngFor="let item of categories" style="font-size: smaller" matTooltip="{{item}}">{{item}}&nbsp;&nbsp;</span>
     <span class="example-spacer"></span>
     <mat-icon class="example-icon" matTat-icon class="example-icon" matTooltip="Profile">perm_identity</mat-icon>
    <mat-icon class="example-icon" matTat-icon class="example-icon" matTooltip="Exit">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
fdgfdhg
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="app-footer-logo">
      <span>ezData2</span>
    </div>
    <div class="app-footer-copyright">
      <mat-icon>copyright</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>



