<mat-toolbar color="primary">
   <mat-toolbar-row>
     <button type="button" mat-button (click)="openMenu()">
       <mat-icon class="example-icon" matTooltip="Menu" >menu</mat-icon>
     </button>



     <span matTooltip="Home Page">UzNews</span>
     <span></span>

     &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
     <span *ngFor="let item of categories" style="font-size: smaller" matTooltip="{{item}}">{{item}}&nbsp;&nbsp;</span>
     <span class="example-spacer"></span>
     <mat-icon class="example-icon" matTat-icon class="example-icon" matTooltip="Profile">perm_identity</mat-icon>
    <mat-icon class="example-icon" matTat-icon class="example-icon" matTooltip="Exit">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div style="text-align:center">
  <h2>Yangiliklar</h2>

  <div class="row">
    <div *ngFor="let item of dataSource" class="col-md-12" >
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{{item.Picture}}" alt="">
        </a>
      </div>
      <div class="col-md-5">
      <h3>{{item.Title}}</h3>
      <p>{{item.Text}}</p>

      <hr>
    </div>
    </div>
    <a class="btn btn-primary" href="#">Кўпроқ янгилик</a>



</div>


</div>




<!--<h1> NGX Highlight Text Example</h1>-->
<!--<div>-->
  <!--<div>-->
    <!--<input type="text" [(ngModel)]="query" placeholder="Query..." />-->
  <!--</div>-->
  <!--<p [innerHTML]="highlight()"></p>-->
<!--</div>-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="app-footer-logo">
      <span>uznews</span>
    </div>
    <div class="app-footer-copyright">
      <mat-icon>copyright</mat-icon>
    </div>
    <span class="example-spacer"></span>
    <span matTooltip="Developers"><small>Powered by </small> Alisher Adham</span>
  </mat-toolbar-row>
</mat-toolbar>



